@media print {

.air-theme html {
  font-size: 12px !important;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .air-theme html {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 48rem) {
  .air-theme html {
    font-size: 16px !important;
  }
}

.air-theme body {
  line-height: 1.85 !important;
}

.air-theme p,
.air-theme .air-p {
  font-size: 1rem !important;
  margin-bottom: 1.3rem !important;
}

.air-theme h1,
.air-theme .air-h1,
.air-theme h2,
.air-theme .air-h2,
.air-theme h3,
.air-theme .air-h3,
.air-theme h4,
.air-theme .air-h4 {
  margin: 1.414rem 0 .5rem !important;
  font-weight: inherit !important;
  line-height: 1.42 !important;
}

.air-theme h1,
.air-theme .air-h1 {
  margin-top: 0 !important;
  font-size: 3.998rem !important;
}

.air-theme h2,
.air-theme .air-h2 {
  font-size: 2.827rem !important;
}

.air-theme h3,
.air-theme .air-h3 {
  font-size: 1.999rem !important;
}

.air-theme h4,
.air-theme .air-h4 {
  font-size: 1.414rem !important;
}

.air-theme h5,
.air-theme .air-h5 {
  font-size: 1.121rem !important;
}

.air-theme h6,
.air-theme .air-h6 {
  font-size: .88rem !important;
}

.air-theme small,
.air-theme .air-small {
  font-size: .707em !important;
}

/* https://github.com/mrmrs/fluidity */

.air-theme img,
.air-theme canvas,
.air-theme iframe,
.air-theme video,
.air-theme svg,
.air-theme select,
.air-theme textarea {
  max-width: 100% !important;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

.air-theme body {
  color: #444 !important;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  font-weight: 300 !important;
  margin: 6rem auto 1rem !important;
  max-width: 48rem !important;
  text-align: center !important;
}

.air-theme img {
  border-radius: 50% !important;
  height: 200px !important;
  margin: 0 auto !important;
  width: 200px !important;
}

.air-theme a,
.air-theme a:visited {
  color: #3498db !important;
}

.air-theme a:hover,
.air-theme a:focus,
.air-theme a:active {
  color: #2980b9 !important;
}

.air-theme pre {
  background-color: #fafafa !important;
  padding: 1rem !important;
  text-align: left !important;
}

.air-theme blockquote {
  margin: 0 !important;
  border-left: 5px solid #7a7a7a !important;
  font-style: italic !important;
  padding: 1.33em !important;
  text-align: left !important;
}

.air-theme ul,
.air-theme ol,
.air-theme li {
  text-align: left !important;
}

.air-theme p {
  color: #777 !important;
}

  /**,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid !important;
  }

  thead {
    display: table-header-group !important;
  }

  tr,
  img {
    page-break-inside: avoid !important;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid !important;
  }*/
}
