@media print {
  html {
    font-size: 12px !important;
  }

  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px !important;
    }
  }

  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px !important;
    }
  }

  body {
    line-height: 1.85 !important;
  }

  p,
  .air-p {
    font-size: 1rem !important;
    margin-bottom: 1.3rem !important;
  }

  h1,
  .air-h1,
  h2,
  .air-h2,
  h3,
  .air-h3,
  h4,
  .air-h4 {
    margin: 1.414rem 0 0.5rem !important;
    font-weight: inherit !important;
    line-height: 1.42 !important;
  }

  h1,
  .air-h1 {
    margin-top: 0 !important;
    font-size: 3.998rem !important;
  }

  h2,
  .air-h2 {
    font-size: 2.827rem !important;
  }

  h3,
  .air-h3 {
    font-size: 1.999rem !important;
  }

  h4,
  .air-h4 {
    font-size: 1.414rem !important;
  }

  h5,
  .air-h5 {
    font-size: 1.121rem !important;
  }

  h6,
  .air-h6 {
    font-size: 0.88rem !important;
  }

  small,
  .air-small {
    font-size: 0.707em !important;
  }

  /* https://github.com/mrmrs/fluidity */

  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100% !important;
  }

  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

  body {
    color: #444 !important;
    font-family: "Open Sans", Helvetica, sans-serif !important;
    font-weight: 300 !important;
    margin: 6rem auto 1rem !important;
    max-width: 48rem !important;
    text-align: center !important;
  }

  img {
    border-radius: 50% !important;
    height: 200px !important;
    margin: 0 auto !important;
    width: 200px !important;
  }

  a,
  a:visited {
    color: #3498db !important;
  }

  a:hover,
  a:focus,
  a:active {
    color: #2980b9 !important;
  }

  pre {
    background-color: #fafafa !important;
    padding: 1rem !important;
    text-align: left !important;
  }

  blockquote {
    margin: 0 !important;
    border-left: 5px solid #7a7a7a !important;
    font-style: italic !important;
    padding: 1.33em !important;
    text-align: left !important;
  }

  ul,
  ol,
  li {
    text-align: left !important;
  }

  p {
    color: #777 !important;
  }

    
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /*pre,
  blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid !important;
  }*/

  thead {
    display: table-header-group !important;
  }

  tr,
  img {
    page-break-inside: avoid !important;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid !important;
  }
}
