@media print {
  .air-theme *,
  .air-theme *:before,
  .air-theme *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .air-theme a,
  .air-theme a:visited {
    text-decoration: underline;
  }

  .air-theme a[href]:after {
    content: " (" attr(href) ")";
  }

  .air-theme abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .air-theme a[href^="#"]:after,
  .air-theme a[href^="javascript:"]:after {
    content: "";
  }

  .air-theme pre,
  .air-theme blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .air-theme thead {
    display: table-header-group;
  }

  .air-theme tr,
  .air-theme img {
    page-break-inside: avoid;
  }

  .air-theme img {
    max-width: 100% !important;
  }

  .air-theme p,
  .air-theme h2,
  .air-theme h3 {
    orphans: 3;
    widows: 3;
  }

  .air-theme h2,
  .air-theme h3 {
    page-break-after: avoid;
  }

  .air-theme html {
    font-size: 12px;
  }

  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    .air-theme html {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 48rem) {
    .air-theme html {
      font-size: 16px;
    }
  }

  .air-theme body {
    line-height: 1.85;
  }

  .air-theme p,
  .air-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }

  .air-theme h1,
  .air-theme .air-h1,
  .air-theme h2,
  .air-theme .air-h2,
  .air-theme h3,
  .air-theme .air-h3,
  .air-theme h4,
  .air-theme .air-h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.42;
  }

  .air-theme h1,
  .air-theme .air-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }

  .air-theme h2,
  .air-theme .air-h2 {
    font-size: 2.827rem;
  }

  .air-theme h3,
  .air-theme .air-h3 {
    font-size: 1.999rem;
  }

  .air-theme h4,
  .air-theme .air-h4 {
    font-size: 1.414rem;
  }

  .air-theme h5,
  .air-theme .air-h5 {
    font-size: 1.121rem;
  }

  .air-theme h6,
  .air-theme .air-h6 {
    font-size: 0.88rem;
  }

  .air-theme small,
  .air-theme .air-small {
    font-size: 0.707em;
  }

  /* https://github.com/mrmrs/fluidity */

  .air-theme img,
  .air-theme canvas,
  .air-theme iframe,
  .air-theme video,
  .air-theme svg,
  .air-theme select,
  .air-theme textarea {
    max-width: 100%;
  }

  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

  .air-theme body {
    color: #444;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    margin: 6rem auto 1rem;
    max-width: 48rem;
    text-align: center;
  }

  .air-theme img {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
  }

  .air-theme a,
  .air-theme a:visited {
    color: #3498db;
  }

  .air-theme a:hover,
  .air-theme a:focus,
  .air-theme a:active {
    color: #2980b9;
  }

  .air-theme pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
  }

  .air-theme blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }

  .air-theme ul,
  .air-theme ol,
  .air-theme li {
    text-align: left;
  }

  .air-theme p {
    color: #777;
  }
}
