.retro-theme pre,
.retro-theme code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.retro-theme pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  .retro-theme *,
  .retro-theme *:before,
  .retro-theme *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .retro-theme a,
  .retro-theme a:visited {
    text-decoration: underline;
  }

  .retro-themea[href]:after {
    content: " (" attr(href) ")";
  }

  .retro-theme abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .retro-theme a[href^="#"]:after,
  .retro-theme a[href^="javascript:"]:after {
    content: "";
  }

  .retro-theme pre,
  .retro-theme blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .retro-theme thead {
    display: table-header-group;
  }

  .retro-theme tr,
  .retro-theme img {
    page-break-inside: avoid;
  }

  .retro-theme img {
    max-width: 100% !important;
  }

  .retro-theme p,
  .retro-theme h2,
  .retro-theme h3 {
    orphans: 3;
    widows: 3;
  }

  .retro-theme h2,
  .retro-themeh3 {
    page-break-after: avoid;
  }
}

.retro-theme a,
.retro-theme a:visited {
  color: #01ff70;
}

.retro-theme a:hover,
.retro-theme a:focus,
.retro-theme a:active {
  color: #2ecc40;
}

.retro-theme .retro-no-decoration {
  text-decoration: none;
}

.retro-theme html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .retro-theme html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .retro-theme html {
    font-size: 16px;
  }
}

.retro-theme body {
  line-height: 1.85;
}

.retro-theme p,
.retro-theme .retro-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.retro-theme h1,
.retro-theme .retro-h1,
.retro-theme h2,
.retro-theme .retro-h2,
.retro-theme h3,
.retro-theme .retro-h3,
.retro-theme h4,
.retro-theme .retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.retro-theme h1,
.retro-theme .retro-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

.retro-theme h2,
.retro-theme .retro-h2 {
  font-size: 2.827rem;
}

.retro-theme h3,
.retro-theme .retro-h3 {
  font-size: 1.999rem;
}

.retro-theme h4,
.retro-theme .retro-h4 {
  font-size: 1.414rem;
}

.retro-theme h5,
.retro-theme .retro-h5 {
  font-size: 1.121rem;
}

.retro-theme h6,
.retro-theme .retro-h6 {
  font-size: .88rem;
}

.retro-theme small,
.retro-theme .retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.retro-theme img,
.retro-theme canvas,
.retro-theme iframe,
.retro-theme video,
.retro-theme svg,
.retro-theme select,
.retro-theme textarea {
  max-width: 100%;
}

.retro-theme html,
.retro-theme body {
  background-color: #222;
  min-height: 100%;
}

.retro-theme html {
  font-size: 18px;
}

.retro-theme body {
  color: #fafafa;
  font-family: "Courier New";
  line-height: 1.45;
  margin: 6rem auto 1rem;
  max-width: 48rem;
  padding: .25rem;
}

.retro-theme pre {
  background-color: #333;
}

.retro-theme blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}
